{% extends 'base.html'%} {% load static %} {% block title %}
<title>post</title>
{% endblock %} {% block content %}
<div class="border border-dark border border-2  w-50 m-2 p-3 rounded">
  <h3 class="fs-1 сolor: black">{{post.title}}</h3>
  <img style="width: 45vw" ; src="/static/images/{{post.image}}" alt="" />

  <p style="color: black" class="fs-6">{{post.text}}</p>
</div>
<div class "m-2">
    <a class="btn btn-success m-3 p-2" href="/editpost/{{post.id}}"">
        redact
    </a>
    <a class="btn btn-success m-3 p-2" href="/deletepost/{{post.id}}">
        delete
    </a>
</div>


{% endblock %}
