{% extends 'base.html'%} {% load static %} {% block content %}


<div class="container">
    <div style="width:30vw">
        <form action="/registration" method ="POST">
            {% csrf_token %}
            <input class="form-control m-2" type="text" placeholder ="name" name ='name'/>
            <input class="form-control m-2" type="text" placeholder ="email" name ='email'/>
            <input class="form-control m-2" type="text" placeholder ="password" name = 'password'/>
            <input class="form-control m-2" type="submit" value ='submit'/>
        </form>
 
    </div>

</div>

{% endblock %}
